@model Drink

<div class="row" id="@("drinkItemId" + Model.Id)">
    <div class="col-2">
        <p>@Model.Id</p>
    </div>
    <div class="col-6">
        <p>@Model.Name</p>
    </div>
    <div class="col-2">
        <p>@Model.Volume</p>
    </div>
    <div class="col-2">
        <button class="btn btn-info" onclick="detailsDrink(@Model.Id)">Details</button>
        <button class="btn btn-warning" onclick="editDrink(@Model.Id)">Edit</button>
        <button class="btn btn-danger" onclick="deleteDrink(@Model.Id)">Delete</button>
    </div>
</div>